[Unit]
Description=Webapp
After=network.target cloud-final.service

[Service]
Type=simple
ExecStart=/home/admin/webapp/venv/bin/python /home/admin/webapp/app.py
Restart=always
RestartSec=3
User=admin
WorkingDirectory=/home/admin/webapp
EnvironmentFile=/root/environment

[Install]
WantedBy=cloud-init.target